#faqTitle {
    font-size: 40px;
    margin-top: 20px;
    margin-left: 30px;
}
.faqSignage {
    width: 1000px;
    height: 550px;
    margin: 0 auto;
    margin-top: 25px;
}

.faq1, .faq2, .faq3 {
    width: 950px;
    height: 550px;
    margin: 0 auto;

}

[class^="faqItem"] {
    width: 290px;
    height: 250px;
		background-color: #d6eaff;
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 20px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

[class^="faqDetail"] {
    padding: 0 10px;
}

.question {
    font-size: 0.5em;
}

.answer {
    font-size: 0.5em;
}


.slideFoward {
}
.slideReverse {

}

#arrow {
    width: 100px;
    height: 70px;
    float: left;
    margin-left: 150px;
    margin-top: 10px;
}
#induction {
    font-size: 32px;
float: right;
    margin-right: 180px;
    color: red;
}
